@import 'variables';

.board {
    background-color: $black !important;
    border: .1rem solid #444;
    color: $white !important;
    height: calc(100vh - 170px);
    resize: none;
    padding: 1rem;
    @include scrollbar;

    @include wideDevice {
        height: calc(95vh - 200px);
    };
};