@import "variables";

.data-txt {
    background-color: $black !important;
    border: 0.1rem solid #444;
    color: $white !important;
    resize: none;
    width: min-content;
    @include scrollbar;
}
