@import 'variables';

.list-group-flush {
    display: grid;
    margin-bottom: 2rem;
    max-height: 80vh;
    overflow: auto;
    width: 100%;
    @include scrollbar;
};

.list-group-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    p {
        margin: 0 1rem 0 0;
    };

    button {
        margin-left: auto;
    };

    &:hover {
        background-color: $taskHoverBackground !important;
    };
};

.taskCompleted {
    text-decoration: line-through;
};

@include wideDevice {
    .list-group-flush {
        display: grid;
        gap: 1.25rem;
        grid-auto-flow: dense; 
        grid-template-columns: unquote("repeat(auto-fill, minmax(min(100%, 15rem), 1fr))"); // SCSS problems 😓
    };
};

.task {
    display: grid;
    grid-template-columns: 3.5% 96.5%;

    .group-identificator {
        background-color: $defaultGroupIdentificarColor;
    };  
};